In [ ]:
#pip install pymysql sqlalchemy

In [3]:
import pandas as pd
from datetime import datetime
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [ ]:
# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
q1_2021 = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\LCA_Disclosure_Data_FY2021_Q1.csv', low_memory=False)
q2_2021 = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\LCA_Disclosure_Data_FY2021_Q2.csv', low_memory=False)
q3_2021 = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\LCA_Disclosure_Data_FY2021_Q3.csv', low_memory=False)
q4_2021 = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\LCA_Disclosure_Data_FY2021_Q4.csv', low_memory=False)
q1_2022 = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\LCA_Disclosure_Data_FY2022_Q1.csv', low_memory=False)
q2_2022 = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\LCA_Disclosure_Data_FY2022_Q2.csv', low_memory=False)
q3_2022 = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\LCA_Disclosure_Data_FY2022_Q3.csv', low_memory=False)
q4_2022 = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\LCA_Disclosure_Data_FY2022_Q4.csv', low_memory=False)

full_dataset = pd.concat([q1_2021, q2_2021, q3_2021, q4_2021, q1_2022, q2_2022, q3_2022, q4_2022], ignore_index=True)

df_combined.head()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL,EMPLOYER_POC_ADDRESS1,EMPLOYER_POC_ADDRESS2,H-1B_DEPENDENT,H_1B_DEPENDENT
0,I-200-20268-843329,Certified,9/24/2020,10/1/2020,NaN,H-1B,Senior Technical Architect,15-1132,"Software Developers, Applications",Y,...,Disclose Business,Chothani,Poorvi,R,"The Law office of Poorvi Chothani, PLLC",gov@poorvichothani.com,NaN,NaN,NaN,NaN
1,I-200-20268-843033,Certified,9/24/2020,10/1/2020,NaN,H-1B,Programmer Analyst\t,15-1131,Computer Programmers,Y,...,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I-200-20268-843527,Certified,9/24/2020,10/1/2020,NaN,H-1B,Software Developer,15-1132,"Software Developers, Applications",Y,...,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I-200-20268-844241,Certified,9/24/2020,10/1/2020,NaN,H-1B,JAVA ANALYST 2,15-1121,Computer Systems Analysts,Y,...,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I-200-20268-844003,Certified,9/24/2020,10/1/2020,NaN,H-1B,SQL DATABASE ADMINISTRATOR II,15-1141,Database Administrators,Y,...,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:

full_dataset = full_dataset[~full_dataset['WORKSITE_STATE'].isin(['GU', 'PR', 'MP', 'VI'])]

print(len(full_dataset))

pd.set_option('display.max_columns',None)
full_dataset.sample(10)

1450649

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,BEGIN_DATE,END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,TRADE_NAME_DBA,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,NAICS_CODE,EMPLOYER_POC_LAST_NAME,EMPLOYER_POC_FIRST_NAME,EMPLOYER_POC_MIDDLE_NAME,EMPLOYER_POC_JOB_TITLE,EMPLOYER_POC_ADDRESS_1,EMPLOYER_POC_ADDRESS_2,EMPLOYER_POC_CITY,EMPLOYER_POC_STATE,EMPLOYER_POC_POSTAL_CODE,EMPLOYER_POC_COUNTRY,EMPLOYER_POC_PROVINCE,EMPLOYER_POC_PHONE,EMPLOYER_POC_PHONE_EXT,EMPLOYER_POC_EMAIL,AGENT_REPRESENTING_EMPLOYER,AGENT_ATTORNEY_LAST_NAME,AGENT_ATTORNEY_FIRST_NAME,AGENT_ATTORNEY_MIDDLE_NAME,AGENT_ATTORNEY_ADDRESS1,AGENT_ATTORNEY_ADDRESS2,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,AGENT_ATTORNEY_POSTAL_CODE,AGENT_ATTORNEY_COUNTRY,AGENT_ATTORNEY_PROVINCE,AGENT_ATTORNEY_PHONE,AGENT_ATTORNEY_PHONE_EXT,AGENT_ATTORNEY_EMAIL_ADDRESS,LAWFIRM_NAME_BUSINESS_NAME,STATE_OF_HIGHEST_COURT,NAME_OF_HIGHEST_STATE_COURT,WORKSITE_WORKERS,SECONDARY_ENTITY,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_ADDRESS1,WORKSITE_ADDRESS2,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_TRACKING_NUMBER,PW_WAGE_LEVEL,PW_OES_YEAR,PW_OTHER_SOURCE,PW_OTHER_YEAR,PW_SURVEY_PUBLISHER,PW_SURVEY_NAME,TOTAL_WORKSITE_LOCATIONS,AGREE_TO_LC_STATEMENT,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL,EMPLOYER_POC_ADDRESS1,EMPLOYER_POC_ADDRESS2,H-1B_DEPENDENT,H_1B_DEPENDENT
1078585,I-200-22075-982167,Certified,3/16/2022,3/23/2022,NaN,H-1B,Software Development Engineer II,15-1132.00,"Software Developers, Applications",Y,9/12/2022,9/10/2025,10,10,0,0,0,0,0,Amazon.com Services LLC,NaN,2250 7th Avenue,NaN,Seattle,WA,98121,UNITED STATES OF AMERICA,NaN,(1206) 266-1000,NaN,45411,Michaels/Gerling/Stankus/Singh,Rebecca/Andreas/Jeremiah/Shaina,NaN,HR Immigration,NaN,NaN,Seattle,WA,98109,UNITED STATES OF AMERICA,NaN,(1206) 266-1000,NaN,amazonimmigration@amazon.com,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,No,NaN,1730 Minor Avenue,NaN,Seattle,KING,WA,98101,"$119,350.00",NaN,Year,"$119,350.00",Year,NaN,II,7/1/2021 - 6/30/2022,NaN,NaN,NaN,NaN,1,Yes,NaN,No,NaN,NaN,NaN,Disclose Business,Kodimyala,Sravan,NaN,Amazon.com Services LLC,kodimyal@amazon.com,"2250 7th Avenue, Seattle, WA, 98121",NaN,NaN,No
316610,I-200-20070-394016,Certified - Withdrawn,3/10/2020,10/16/2020,3/17/2020,H-1B,Assistant Professor,25-1124.00,"Foreign Language and Literature Teachers, Post...",Y,4/5/2020,4/4/2023,1,0,1,0,0,0,0,Purdue University,NaN,610 Purdue Mall,Suite 300,West Lafayette,IN,47907,UNITED STATES OF AMERICA,IN,(1765) 496-7844,NaN,611310,Riggs,Danielle,Louise,Counselor,610 Purdue Mall,Suite 300,West Lafayette,IN,47907,UNITED STATES OF AMERICA,NaN,(1765) 496-7844,NaN,riggsd@purdue.edu,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,No,NaN,640 Oval Dr.,NaN,West Lafayette,TIPPECANOE,IN,47907,"$74,830.00",NaN,Year,"$46,030.00",Year,NaN,I,7/1/2019 - 6/30/2020,NaN,NaN,NaN,NaN,3,Yes,No,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125348,I-200-21061-113945,Certified,3/2/2021,3/9/2021,NaN,H-1B,Senior Business Operations Specialist,13-2011.01,Accountants,Y,6/25/2021,6/24/2024,1,0,1,0,0,0,0,Arizona State University,NaN,PO Box 872812,NaN,Tempe,AZ,85287-2812,UNITED STATES OF AMERICA,NaN,14809653404,NaN,611310,Sandoval,Candy,NaN,Associate Director,NaN,NaN,Tempe,AZ,85287-2812,UNITED STATES OF AMERICA,NaN,14809653404,NaN,candy.sandoval@asu.edu,Yes,McCarty,Mason,NaN,7500 N Dreamy Draw Drive,Suite 230,Phoenix,AZ,85020,UNITED STATES OF AMERICA,NaN,16022661825.0,NaN,kmelton@fragomen.com,"Fragomen, Del Rey, Bernsen & Loewy LLP",AZ,Supreme Court,1.0,No,NaN,851 S Cady Mall,NaN,Tempe,MARICOPA,AZ,85287,"$44,928.00","$79,872.00",Year,"$40,165.00",Year,NaN,I,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,1,Yes,NaN,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,PO Box 872812,NaN,No,NaN
494558,I-200-21077-155870,Certified,3/18/2021,3/25/2021,NaN,H-1B,Senior Software Engineer,15-1133.00,"Software Developers, Systems Software",Y,6/5/2021,6/4/2024,1,0,0,1,0,0,0,"Qualcomm Technologies, Inc.",NaN,5775 Morehouse Drive,NaN,San Diego,CA,92121,UNITED STATES OF AMERICA,NaN,(1858) 472-2865,NaN,334220,Wight,Daniel,T,"Manager, HR (Immigration)",5775 Morehouse Drive,NaN,San Diego,CA,92121,UNITED STATES OF AMERICA,NaN,(1858) 472-2865,NaN,immigration.status@qualcomm.com,Yes,Faure Wenger,Karine,Isabelle,P.O. BOX 910129,NaN,San Diego,CA,92191,UNITED STATES OF AMERICA,NaN,(1858) 793-1600,NaN,kevin.logue@fragomen.com,"Fragomen, Del Rey, Bernsen & Loewy LLP",CA,Supreme Court,1.0,No,NaN,8254 Guppy Ct,NaN,San Diego,SAN DIEGO,CA,92129,"$98,592.00","$144,400.00",Year,"$98,592.00",Year,NaN,II,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,1,Yes,Yes,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
777553,I-200-21231-533424,Certified,8/19/2021,8/26/2021,NaN,H-1B,"Manager, Software Engineer",15-1199.09,Information Technology Project Managers,Y,8/30/2021,8/29/2024,1,0,0,0,0,0,1,"Applied Materials, Inc",NaN,3225 Oakmed Village Drive,Building 12,Santa Clara,CA,95054,UNITED STATES OF AMERICA,NaN,14087485113,NaN,33441,Trevino/ Llanos,Monica/ Daisy,NaN,Immigration Manager/ Immigration Specialist,NaN,NaN,SANTA CLARA,CA,95054,UNITED STATES OF AMERICA,NaN,14082183109,NaN,HR_Immigration@amat.com,Yes,Tafapolsky,Alan,NaN,90 New Montgomery Street,8th Floor,San Francisco,CA,94105,UNITED STATES OF AMERICA,NaN,14159759800.0,NaN,flag-SF1@tsmimmigration.com,Tafapolsky & Smith LLP,CA,Supreme Court,1.0,No,NaN,3050 Bowers Avenue,NaN,Santa Clara,SANTA CLARA,CA,95054,"$145,591.00","$165,591.00",Year,"$142,438.00",Year,NaN,III,7/1/2021 - 6/30/2022,NaN,NaN,NaN,NaN,1,Yes,NaN,No,NaN,NaN,NaN,Disclose Business,Nomura,Kyle,NaN,Tafapolsky & Smith LLP,kyle.nomura@tandslaw.com,3225 OAKMEAD VILLAGE DRIVE,BUILDING 12,No,NaN
295615,I-200-20269-846742,Certified,9/25/2020,10/2/2020,NaN,H-1B,Integration Lead,13-1111.00,Management Analysts,Y,10/1/2020,9/30/2023,1,1,0,0,0,0,0,"BRISTLECONE, INC.",NaN,10 ALMADEN BLVD.,Suite 990,SAN JOSE,CA,95113,UNITED STATES OF AMERICA,NaN,(1650) 386-4049,NaN,541511,ABHYANKAR,DEVYANI,NaN,DIRECTOR -HR; NA & EUROPE,10 ALMADEN BLVD.,SUITE 990,SAN JOSE,CA,95113,UNITED STATES OF AMERICA,NaN,(1650) 386-4049,NaN,DEVYANI.ABHYANKAR@BCONE.COM,Yes,TAN,LIHUA,NaN,1600 DUANE AVENUE,NaN,SANTA CLARA,CA,95054,UNITED STATES OF AMERICA,NaN,(1408) 970-0100,NaN,LIHUA.TAN@CHUGH.COM,"CHUGH, LLP",NY,U.S. SUPREME COURT,1.0,Yes,"Illumina, Inc.",4795 Executive Dr,NaN,San Diego,SAN DIEGO,CA,92121,"$87,173.00","$110,000.00",Year,"$87,173.00",Year,NaN,III,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,2,Yes,Yes,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,Song,Yujun,NaN,"Chugh, LLP",YUJUN.SONG@CHUGH.COM,NaN,NaN,NaN,NaN
513933,I-200-21089-183284,Certified,3/30/2021,4/6/2021,NaN,H-1B,Senior Systems Analyst JC60,15-1121.00,Computer Systems Analysts,Y,4/7/2021,4/6/2024,1,0,0,0,0,0,1,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,NaN,211 QUALITY CIRCLE,NaN,COLLEGE STATION,TX,77845,UNITED STATES OF AMERICA,TX,(1979) 329-6682,NaN,541512,Chandrasekaran,Sabarish,NaN,Associate Director,211 Quality Circle,NaN,College Station,TX,77845,UNITED STATES OF AMERICA,NaN,(1979) 329-6682,NaN,lca.immigration@cognizant.com,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,No,NaN,"5004 Stedwick Ct, Apt 204",NaN,Virginia Beach,VIRGINIA BEACH CITY,VA,23455,"$77,730.00",NaN,Year,"$77,730.00",Year,NaN,II,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,1,Yes,Yes,No,Yes,"Both $60,000 or higher in annual wage and Mast...",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634571,I-200-21145-340810,Certified,5/25/2021,6/2/2021,NaN,H-1B,Manager JC50,15-1121.00,Computer Systems Analysts,Y,6/2/2021,6/1/2024,1,0,0,0,0,0,1,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,NaN,211 QUALITY CIRCLE,NaN,COLLEGE STATION,TX,77845,UNITED STATES OF AMERICA,TX,(1979) 329-6682,NaN,541512,Chandrasekaran,Sabarish,NaN,Associate Director,211 Quality Circle,NaN,College Station,TX,77845,UNITED STATES OF AMERICA,NaN,(1979) 329-6682,NaN,lca.immigration@cognizant.com,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,No,NaN,"3575, Granada Avenue, Apartment 2",NaN,Santa Clara,SANTA CLARA,CA,95051,"$122,990.00",NaN,Year,"$122,990.00",Year,NaN,III,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,1,Yes,Yes,No,Yes,"Both $60,000 or higher in annual wage and Mast...",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878405,I-200-21159-377003,Certified - Withdrawn,6/7/2021,11/8/2021,6/14/2021,H-1B,Sr. SQL Database Administrator,15-1141.00,Database Administrators,Y,6/7/2021,4/17/2023,1,1,0,0,0,0,0,TekOrg Inc.,NaN,1326 E Algonquin Rd,Apt 2E,Schaumburg,IL,60173,UNITED STATES OF AMERICA,NaN,(1847) 792-1777,NaN,541511,Voruganti,Sumanth,NaN,HR Manager,NaN,NaN,Schaumburg,IL,60173,UNITED STATES OF AMERICA,NaN,(1847) 792-1777,NaN,sumanthvbi281@gmail.com,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Yes,New York Technology Partners,1326 E Algonquin Rd,Apt 2E,Schaumburg,COOK,IL,60173,"$79,768.00","$80,000.00",Year,"$78,853.00",Year,NaN,II,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,1,Yes,NaN,No,Yes,"Both $60,000 or higher in annual wage and Mast...",NaN,Disclose Business,Voruganti,Sumanth,NaN,TekOrg Inc.,sumanthvbi281@gmail.com,1326 E Algonquin Rd,Apt 2E,NaN,Yes
936317,I-203-21350-768322,Certified,12/15/2021,12/22/2021,NaN,E-3 Australian,Senior Design Engineer 1 - Software,15-1133.00,"Software Developers, Systems Software",Y,12/27/2021,12/26/2023,1,0,0,0,0,1,0,"ASML US, LP",NaN,2650 West Geronimo Place,NaN,Chandler,AZ,85224,UNITED STATES OF AMERICA,NaN,(1480) 696-2852,NaN,333242,Pressel,Leslie,NaN,ASML US HR Immigration Representative,NaN,NaN,Chandler,AZ,85224,UNITED STATES OF AMERICA,NaN,(1480) 696-2852,NaN,leslie.pressel@asml.com,Yes,Nesteruk,Ian,A.,1850 North Central Avenue,Suite 1400,Phoenix,AZ,85004,UNITED STATES OF AMERICA,NaN,(1602) 889-5358,NaN,INesteruk@dickinson-wright.com,Dickinson Wright PLLC,AZ,Supreme Court,1.0,No,NaN,17075 Thornmint Court,NaN,San Diego,SAN DIEGO,CA,92127,"$150,000.00",NaN,Year,"$139,360.00",Year,NaN,IV,7/1/2021 - 6/30/2022,NaN,NaN,NaN,NaN,2,Yes,NaN,NaN,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,2650 West Geronimo Place,NaN,NaN,NaN

In [6]:
import pandas as pd
import re

# Suponiendo que tienes un DataFrame llamado 'df' y una columna de texto llamada 'text_column'
# Vamos a limpiar esa columna.
full_dataset['WORKSITE_CITY'] = full_dataset['WORKSITE_CITY'].astype(str)
full_dataset['EMPLOYER_NAME'] = full_dataset['EMPLOYER_NAME'].astype(str)

# Definir una funciÃ³n para limpiar el texto
def clean_text(text):
    # Quitar espacios al inicio y al final
    text = text.strip()
    # Quitar caracteres especiales usando expresiones regulares, manteniendo los espacios entre palabras
    text_clean = re.sub(r'[^\w\s]', '', text)
    # Convertir el texto a mayÃºsculas
    text_clean = text_clean.upper()
    return text_clean

# Aplicar la funciÃ³n de limpieza a la columna de texto
full_dataset['EMPLOYER_NAME'] = full_dataset['EMPLOYER_NAME'].apply(clean_text)
full_dataset['JOB_TITLE'] = full_dataset['JOB_TITLE'].apply(clean_text)
full_dataset['SOC_TITLE'] = full_dataset['SOC_TITLE'].apply(clean_text)
full_dataset['WORKSITE_CITY'] = full_dataset['WORKSITE_CITY'].apply(clean_text)

# Mostrar los resultados

print (len(full_dataset))

full_dataset.head()

1450649

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,BEGIN_DATE,END_DATE,TOTAL_WORKER_POSITIONS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,EMPLOYER_NAME,TRADE_NAME_DBA,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,NAICS_CODE,EMPLOYER_POC_LAST_NAME,EMPLOYER_POC_FIRST_NAME,EMPLOYER_POC_MIDDLE_NAME,EMPLOYER_POC_JOB_TITLE,EMPLOYER_POC_ADDRESS_1,EMPLOYER_POC_ADDRESS_2,EMPLOYER_POC_CITY,EMPLOYER_POC_STATE,EMPLOYER_POC_POSTAL_CODE,EMPLOYER_POC_COUNTRY,EMPLOYER_POC_PROVINCE,EMPLOYER_POC_PHONE,EMPLOYER_POC_PHONE_EXT,EMPLOYER_POC_EMAIL,AGENT_REPRESENTING_EMPLOYER,AGENT_ATTORNEY_LAST_NAME,AGENT_ATTORNEY_FIRST_NAME,AGENT_ATTORNEY_MIDDLE_NAME,AGENT_ATTORNEY_ADDRESS1,AGENT_ATTORNEY_ADDRESS2,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,AGENT_ATTORNEY_POSTAL_CODE,AGENT_ATTORNEY_COUNTRY,AGENT_ATTORNEY_PROVINCE,AGENT_ATTORNEY_PHONE,AGENT_ATTORNEY_PHONE_EXT,AGENT_ATTORNEY_EMAIL_ADDRESS,LAWFIRM_NAME_BUSINESS_NAME,STATE_OF_HIGHEST_COURT,NAME_OF_HIGHEST_STATE_COURT,WORKSITE_WORKERS,SECONDARY_ENTITY,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_ADDRESS1,WORKSITE_ADDRESS2,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_TRACKING_NUMBER,PW_WAGE_LEVEL,PW_OES_YEAR,PW_OTHER_SOURCE,PW_OTHER_YEAR,PW_SURVEY_PUBLISHER,PW_SURVEY_NAME,TOTAL_WORKSITE_LOCATIONS,AGREE_TO_LC_STATEMENT,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL,EMPLOYER_POC_ADDRESS1,EMPLOYER_POC_ADDRESS2,H-1B_DEPENDENT,H_1B_DEPENDENT
0,I-200-20268-843329,Certified,9/24/2020,10/1/2020,NaN,H-1B,SENIOR TECHNICAL ARCHITECT,15-1132,SOFTWARE DEVELOPERS APPLICATIONS,Y,2/13/2021,2/12/2024,1,0,1,0,0,0,0,HEXAWARE TECHNOLOGIES INC,NaN,101 Wood Ave. S.,Suite 600,Iselin,NJ,08830,UNITED STATES OF AMERICA,NaN,16094096957,NaN,541512,Fernando,Caroline,NaN,Deputy Manager - Human Resources,101 Wood Ave. S.,Suite 600,Iselin,NJ,08830,UNITED STATES OF AMERICA,NaN,16094092214,NaN,carolinef@hexaware.com,Yes,Chothani,Poorvi,Rohit,244 Madison Ave.,Ste. 2350,NEW YORK,NY,10016,UNITED STATES OF AMERICA,NEW YORK,16464190933.0,NaN,gov@poorvichothani.com,"The Law Office of Poorvi Chothani, PLLC",NY,NEW YORK,1.0,Yes,Fannie Mae,"13150 World Gate Drive,",NaN,HERNDON,FAIRFAX,VA,20170,"$103,770.00","$110,770.00",Year,"$97,406.00",Year,NaN,II,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,2,Y,Y,N,Y,Wage,NaN,Disclose Business,Chothani,Poorvi,R,"The Law office of Poorvi Chothani, PLLC",gov@poorvichothani.com,NaN,NaN,NaN,NaN
1,I-200-20268-843033,Certified,9/24/2020,10/1/2020,NaN,H-1B,PROGRAMMER ANALYST,15-1131,COMPUTER PROGRAMMERS,Y,9/24/2020,9/23/2023,1,0,1,0,0,0,0,WIPRO LIMITED,NaN,2 TOWER CENTER BLVD,SUITE 2200,EAST BRUNSWICK,NJ,08816,UNITED STATES OF AMERICA,NaN,17325091586,NaN,541511,KAMBLE,DEEPALI,NaN,MANAGER,2 TOWER CENTER BLVD,SUITE 2200,EAST BRUNSWICK,NJ,08816,UNITED STATES OF AMERICA,NaN,17325091586,NaN,deepali.kamble@wipro.com;gims-lca@wipro.com,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Yes,BP International Ltd.,2800 FM 519 East,NaN,TEXAS CITY,GALVESTON,TX,77590,"$84,510.00",NaN,Year,"$84,510.00",Year,NaN,II,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,1,Y,Y,N,Y,Wage,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I-200-20268-843527,Certified,9/24/2020,10/1/2020,NaN,H-1B,SOFTWARE DEVELOPER,15-1132,SOFTWARE DEVELOPERS APPLICATIONS,Y,9/25/2020,9/24/2023,6,1,1,1,1,1,1,MASTECH DIGITAL INFOTECH INC,"Mastech Digital InfoTech, Inc.",1305 Cherrington Parkway,"Bldg. 210, Suite 400",Moon Township,PA,15108,UNITED STATES OF AMERICA,PENNSYLVANIA,14127879553,NaN,541511,Palermo,Wendy,NaN,Manager - Immigration,1305 Cherrington Parkway,"Bldg. 210, Ste 400",Moon Township,PA,15108,UNITED STATES OF AMERICA,NaN,14127879553,NaN,immigrationflag@mastechdigital.com,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Yes,PNC Bank,8100 Mohawk Dr,NaN,STRONGSVILLE,CUYAHOGA,OH,44136,"$70,678.00","$85,678.00",Year,"$70,678.00",Year,NaN,II,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,2,Y,Y,N,Y,Wage,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I-200-20268-844241,Certified,9/24/2020,10/1/2020,NaN,H-1B,JAVA ANALYST 2,15-1121,COMPUTER SYSTEMS ANALYSTS,Y,10/1/2020,9/30/2023,1,0,0,0,0,0,1,VIRTUSA CORPORATION,NaN,132 Turnpike Road,SUITE 300,Southborough,MA,01772,UNITED STATES OF AMERICA,Massachusetts,15083897451,NaN,541511,CHAU,QUYEN,NaN,ASSOCIATE DIRECTOR - HR,132 TURNPIKE ROAD,SUITE 300,SOUTHBOROUGH,MA,01772,UNITED STATES OF AMERICA,NaN,15083897451,NaN,qchau@virtusa.com,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Yes,"UNITED HEALTHCARE SERVICES, INC.",185 ASYLUM STREET,NaN,HARTFORD,HARTFORD CITY,CT,06103,"$103,376.00",NaN,Year,"$81,453.00",Year,NaN,II,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,2,Y,Y,N,Y,Wage,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I-200-20268-844003,Certified,9/24/2020,10/1/2020,NaN,H-1B,SQL DATABASE ADMINISTRATOR II,15-1141,DATABASE ADMINISTRATORS,Y,10/5/2020,6/29/2022,1,0,0,0,0,0,1,XTGLOBAL INC,NaN,2701 DALLAS PARKWAY,SUITE 550,PLANO,TX,75093,UNITED STATES OF AMERICA,NaN,19727551817,NaN,541511,MULLAPUDI,RAMARAO,ATCHUTA,PRESIDENT & CEO,2701 DALLAS PARKWAY,SUITE 550,PLANO,TX,75093,UNITED STATES OF AMERICA,NaN,19727551817,NaN,IMMIGRATION@XTGLOBAL.COM,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Yes,HP INC,3800 QUICK HILL RD,#100,AUSTIN,WILLIAMSON,TX,78728,"$91,146.00",NaN,Year,"$91,146.00",Year,NaN,II,7/1/2020 - 6/30/2021,NaN,NaN,NaN,NaN,2,Y,Y,N,Y,Wage,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Assuming df is your dataframe
column_names = full_dataset.columns.tolist()

# Print all column names
print (column_names)

print (len(full_dataset))

['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE', 'ORIGINAL_CERT_DATE', 'VISA_CLASS', 'JOB_TITLE', 'SOC_CODE', 'SOC_TITLE', 'FULL_TIME_POSITION', 'BEGIN_DATE', 'END_DATE', 'TOTAL_WORKER_POSITIONS', 'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT', 'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION', 'EMPLOYER_NAME', 'TRADE_NAME_DBA', 'EMPLOYER_ADDRESS1', 'EMPLOYER_ADDRESS2', 'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE', 'EMPLOYER_PHONE_EXT', 'NAICS_CODE', 'EMPLOYER_POC_LAST_NAME', 'EMPLOYER_POC_FIRST_NAME', 'EMPLOYER_POC_MIDDLE_NAME', 'EMPLOYER_POC_JOB_TITLE', 'EMPLOYER_POC_ADDRESS_1', 'EMPLOYER_POC_ADDRESS_2', 'EMPLOYER_POC_CITY', 'EMPLOYER_POC_STATE', 'EMPLOYER_POC_POSTAL_CODE', 'EMPLOYER_POC_COUNTRY', 'EMPLOYER_POC_PROVINCE', 'EMPLOYER_POC_PHONE', 'EMPLOYER_POC_PHONE_EXT', 'EMPLOYER_POC_EMAIL', 'AGENT_REPRESENTING_EMPLOYER', 'AGENT_ATTORNEY_LAST_NAME', 'AGENT_ATTORNEY_FIRST_NAME', 'AGENT_ATTORNEY_MIDDLE_NAME', 'AGENT_ATTORNEY_ADDRESS1', 'AGENT_ATTORNEY_ADDRESS2', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'AGENT_ATTORNEY_POSTAL_CODE', 'AGENT_ATTORNEY_COUNTRY', 'AGENT_ATTORNEY_PROVINCE', 'AGENT_ATTORNEY_PHONE', 'AGENT_ATTORNEY_PHONE_EXT', 'AGENT_ATTORNEY_EMAIL_ADDRESS', 'LAWFIRM_NAME_BUSINESS_NAME', 'STATE_OF_HIGHEST_COURT', 'NAME_OF_HIGHEST_STATE_COURT', 'WORKSITE_WORKERS', 'SECONDARY_ENTITY', 'SECONDARY_ENTITY_BUSINESS_NAME', 'WORKSITE_ADDRESS1', 'WORKSITE_ADDRESS2', 'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_TRACKING_NUMBER', 'PW_WAGE_LEVEL', 'PW_OES_YEAR', 'PW_OTHER_SOURCE', 'PW_OTHER_YEAR', 'PW_SURVEY_PUBLISHER', 'PW_SURVEY_NAME', 'TOTAL_WORKSITE_LOCATIONS', 'AGREE_TO_LC_STATEMENT', 'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'STATUTORY_BASIS', 'APPENDIX_A_ATTACHED', 'PUBLIC_DISCLOSURE', 'PREPARER_LAST_NAME', 'PREPARER_FIRST_NAME', 'PREPARER_MIDDLE_INITIAL', 'PREPARER_BUSINESS_NAME', 'PREPARER_EMAIL', 'EMPLOYER_POC_ADDRESS1', 'EMPLOYER_POC_ADDRESS2', 'H-1B_DEPENDENT', 'H_1B_DEPENDENT']
1450649

In [8]:
# Create 'employer' table
full_dataset['NAICS_CODE'] = full_dataset['NAICS_CODE'].astype(str)

employer = full_dataset[['EMPLOYER_NAME', 'NAICS_CODE']].drop_duplicates().reset_index(drop=True)
employer['naics_code_3d'] = employer['NAICS_CODE'].str[:3]
employer['naics_code_3d'] = employer['naics_code_3d'].astype(int)
employer.drop('NAICS_CODE', axis=1, inplace=True)
employer = employer.drop_duplicates()
employer.insert(0, 'employer_id', range(100001, 100001 + len(employer)))
#employer.set_index('employer_id', inplace=True)
employer.rename(columns={'EMPLOYER_NAME': 'employer_name'}, inplace=True)

print(len(employer))

employer.head()

88226

   employer_id                 employer_name  naics_code_3d
0       100001     HEXAWARE TECHNOLOGIES INC            541
1       100002                 WIPRO LIMITED            541
2       100003  MASTECH DIGITAL INFOTECH INC            541
3       100004           VIRTUSA CORPORATION            541
4       100005                  XTGLOBAL INC            541

In [9]:
# Create 'state' table
state = full_dataset[['WORKSITE_STATE']].drop_duplicates()
state.insert(0, 'state_id', range(101, 101 + len(state)))
state.rename(columns={'WORKSITE_STATE': 'state_abr'}, inplace=True)

num_registros = len(state)
print(num_registros)
state.head()

52

   state_id state_abr
0       101        VA
1       102        TX
2       103        OH
3       104        CT
6       105        GA

In [10]:
# Create 'city' table
city_aux = full_dataset[[ 'WORKSITE_CITY', 'WORKSITE_STATE']].drop_duplicates()
city_aux.rename(columns={'WORKSITE_STATE': 'state_abr','WORKSITE_CITY': 'city' }, inplace=True)

num_registros = len(city_aux)
print(num_registros)
city_aux.head()

12722

           city state_abr
0       HERNDON        VA
1    TEXAS CITY        TX
2  STRONGSVILLE        OH
3      HARTFORD        CT
4        AUSTIN        TX

In [11]:
city_aux = city_aux[['city', 'state_abr']].drop_duplicates()
city_aux.insert(0, 'city_id', range(10001, 10001 + len(city_aux)))

city = city_aux.merge(state[['state_abr', 'state_id']], left_on='state_abr', right_on='state_abr', how='left')

num_registros = len(city)
print(num_registros)

city.head()

12722

   city_id          city state_abr  state_id
0    10001       HERNDON        VA       101
1    10002    TEXAS CITY        TX       102
2    10003  STRONGSVILLE        OH       103
3    10004      HARTFORD        CT       104
4    10005        AUSTIN        TX       102

In [12]:
state_research = pd.read_csv(r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\states.csv')
state_research.head(10)

num_registros = len(state_research)
print(num_registros)

state_save = state_research.merge(state[['state_abr', 'state_id']], left_on='state_abr', right_on='state_abr', how='left')
#state_save.drop('state_abr', axis=1, inplace=True)

state_save.head()

51

,state_abr,state_name,med_income,med_income_after_tax,avg_living_cost,layoffs_k,hire_k,job_opening_k,quality_index,state_id
0,MD,Maryland,90203,75848,48235,29,109,183,54.40,109
1,DC,"Washington, D.C.",90088,66343,51686,39,112,195,58.73,137
2,MA,Massachusetts,89645,70417,53860,20,124,246,62.65,132
3,NJ,New Jersey,89296,72468,49511,35,174,210,62.01,112
4,NH,New Hampshire,88465,74117,45575,9,30,43,58.25,128

In [13]:
# Create 'jobtitle' table
job_titles = full_dataset[['JOB_TITLE']].drop_duplicates().reset_index(drop=True)
jobtitle = pd.DataFrame(job_titles)
jobtitle.rename(columns={'JOB_TITLE': 'job_title' }, inplace=True)
jobtitle.insert(0, 'job_id', range(100001, 100001 + len(jobtitle)))

num_registros = len(jobtitle)
print(num_registros)
jobtitle.head()

197058

   job_id                      job_title
0  100001     SENIOR TECHNICAL ARCHITECT
1  100002             PROGRAMMER ANALYST
2  100003             SOFTWARE DEVELOPER
3  100004                 JAVA ANALYST 2
4  100005  SQL DATABASE ADMINISTRATOR II

In [14]:
# Create 'soc_titles' table
soc_title = full_dataset[['SOC_CODE', 'SOC_TITLE']].drop_duplicates().reset_index(drop=True)
soc_title = pd.DataFrame(soc_title)
soc_title.rename(columns={'SOC_CODE': 'soc_code','SOC_TITLE': 'soc_title' }, inplace=True)
soc_title['soc_code'] = soc_title['soc_code'].str.replace('-', '').str.replace('.', '')

soc_title['soc_code'] = soc_title['soc_code'].str[:6]

soc_title = soc_title[['soc_code', 'soc_title']].drop_duplicates(subset=['soc_code'])

num_registros = len(soc_title)
print(num_registros)

soc_title.head()

631

  soc_code                                soc_title
0   151132         SOFTWARE DEVELOPERS APPLICATIONS
1   151131                     COMPUTER PROGRAMMERS
2   151121                COMPUTER SYSTEMS ANALYSTS
3   151141                  DATABASE ADMINISTRATORS
4   151199  INFORMATION TECHNOLOGY PROJECT MANAGERS

In [16]:
h1bvisa = full_dataset[[
    'CASE_NUMBER', 'CASE_STATUS', 'VISA_CLASS', 'FULL_TIME_POSITION',
    'RECEIVED_DATE', 'DECISION_DATE', 'BEGIN_DATE', 'END_DATE', 'TOTAL_WORKER_POSITIONS',
    'AMENDED_PETITION', 'WAGE_RATE_OF_PAY_FROM', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
    'EMPLOYER_NAME','JOB_TITLE','WORKSITE_CITY', 'SOC_CODE', 'NAICS_CODE', 'WORKSITE_STATE',
    'AGENT_REPRESENTING_EMPLOYER'
]].drop_duplicates()

print (len(h1bvisa))

h1bvisa.insert(0, 'visa_case_id', range(10000001, 10000001 + len(h1bvisa)))

print (len(h1bvisa))

h1bvisa['naics_code_3d'] = h1bvisa['NAICS_CODE'].str[:3]
h1bvisa['naics_code_3d'] = h1bvisa['naics_code_3d'].astype(int)
h1bvisa.drop('NAICS_CODE', axis=1, inplace=True)

h1bvisa['SOC_CODE'] = h1bvisa['SOC_CODE'].str.replace('-', '').str.replace('.', '')
h1bvisa['SOC_CODE'] = h1bvisa['SOC_CODE'].str[:6]

num_registros = len(h1bvisa)
print (num_registros)

1238180
1238180
1238180

In [17]:
pd.set_option('display.max_columns',None)
h1bvisa.sample(5)

,visa_case_id,CASE_NUMBER,CASE_STATUS,VISA_CLASS,FULL_TIME_POSITION,RECEIVED_DATE,DECISION_DATE,BEGIN_DATE,END_DATE,TOTAL_WORKER_POSITIONS,AMENDED_PETITION,WAGE_RATE_OF_PAY_FROM,PREVAILING_WAGE,PW_UNIT_OF_PAY,EMPLOYER_NAME,JOB_TITLE,WORKSITE_CITY,SOC_CODE,WORKSITE_STATE,AGENT_REPRESENTING_EMPLOYER,naics_code_3d
1311719,11097744,I-200-22166-284729,Certified,H-1B,Y,6/15/2022,6/23/2022,6/15/2022,6/14/2025,1,1,"$94,037.00","$94,037.00",Year,NUANZA INC,AUTOMATION TEST ENGINEER,IRVING,151132,TX,Yes,541
1272769,11058847,I-200-22152-230123,Certified,H-1B,Y,6/1/2022,6/8/2022,6/3/2022,6/2/2025,1,0,"$235,000.00","$102,315.00",Year,PACIFIC INVESTMENT MANAGEMENT COMPANY LLC,VICE PRESIDENT PORTFOLIO MANAGER,NEWPORT BEACH,152031,CA,Yes,523
962702,10749115,I-200-22008-817253,Certified,H-1B,Y,1/7/2022,1/14/2022,6/29/2022,6/28/2025,35,0,"$121,309.00","$121,309.00",Year,INTUIT INC,PRODUCT MANAGER,MOUNTAIN VIEW,113021,CA,Yes,541
255446,10254662,I-200-20302-890225,Certified,H-1B,Y,10/28/2020,11/4/2020,12/12/2020,12/11/2023,1,0,"$164,625.00","$131,353.00",Year,NORDSTROM INC,SENIOR ENGINEER,SEATTLE,151132,WA,Yes,452
1124466,10910667,I-200-22096-044146,Certified,H-1B,Y,4/6/2022,4/13/2022,10/1/2022,9/30/2025,1,0,"$103,000.00","$60,778.00",Year,INSIGNEO SECURITIES LLC,INVESTMENT STRATEGIST,MIAMI,132051,FL,Yes,523

In [20]:
# Identificando y contando las distintas unidades en 'PW_UNIT_OF_PAY'
unit_counts_df = h1bvisa.groupby('PW_UNIT_OF_PAY').size().reset_index(name='unit_count')
print(unit_counts_df)

salary_job

  PW_UNIT_OF_PAY  unit_count
0      Bi-Weekly         222
1           Hour       71555
2          Month         918
3           Week         204
4           Year     1165280

In [25]:
# FunciÃ³n para limpiar y convertir salarios
def clean_and_convert(column):
    return column.replace('[\$,]', '', regex=True).replace(' ', '').astype(float)

# Aplicar la limpieza a las columnas de salario
h1bvisa['PREVAILING_WAGE'] = clean_and_convert(h1bvisa['PREVAILING_WAGE'])
h1bvisa['WAGE_RATE_OF_PAY_FROM'] = clean_and_convert(h1bvisa['WAGE_RATE_OF_PAY_FROM'])

# Diccionario de factores de conversiÃ³n
conversion_factors = {
    'Hour': 40 * 52,
    'Week': 52,
    'Bi-Weekly': 26,
    'Month': 12,
    'Year': 1
}

# FunciÃ³n vectorizada para calcular los salarios anuales
def calculate_annual_salaries(wage, pay_unit):
    return wage * pay_unit.map(conversion_factors)

# Calcular los salarios anuales
h1bvisa['salary_job'] = calculate_annual_salaries(h1bvisa['PREVAILING_WAGE'], h1bvisa['PW_UNIT_OF_PAY'])
h1bvisa['starting_salary'] = calculate_annual_salaries(h1bvisa['WAGE_RATE_OF_PAY_FROM'], h1bvisa['PW_UNIT_OF_PAY'])

print(h1bvisa[['WAGE_RATE_OF_PAY_FROM', 'PW_UNIT_OF_PAY', 'PREVAILING_WAGE', 'salary_job', 'starting_salary']])

         WAGE_RATE_OF_PAY_FROM PW_UNIT_OF_PAY  PREVAILING_WAGE  salary_job  \
0                     103770.0           Year         97406.00     97406.0
1                      84510.0           Year         84510.00     84510.0
2                      70678.0           Year         70678.00     70678.0
3                     103376.0           Year         81453.00     81453.0
4                      91146.0           Year         91146.00     91146.0
...                        ...            ...              ...         ...
1452384               120931.0           Year        108347.00    108347.0
1452385                81890.0           Year         81890.00     81890.0
1452386                   45.0           Hour            39.04     81203.2
1452387               205000.0           Year        124030.00    124030.0
1452388               109283.0           Year        109283.00    109283.0

         starting_salary
0               103770.0
1                84510.0
2                70678.0
3               103376.0
4                91146.0
...                  ...
1452384         120931.0
1452385          81890.0
1452386          93600.0
1452387         205000.0
1452388         109283.0

[1238180 rows x 5 columns]

In [26]:
# Vamos a utilizar el DataFrame 'h1bvisa' simulado anteriormente para identificar los outliers.

# Calculando la media y la desviaciÃ³n estÃ¡ndar de la columna 'salary_job'
mean_salary = h1bvisa['salary_job'].mean()
std_salary = h1bvisa['salary_job'].std()

# Definiendo un umbral para los outliers basado en 3 desviaciones estÃ¡ndar
outlier_threshold = 3 * std_salary

# Identificando outliers: aquellos valores que estÃ¡n a mÃ¡s de 3 desviaciones estÃ¡ndar de la media
h1bvisa['outlier'] = ((h1bvisa['salary_job'] < (mean_salary - outlier_threshold)) | 
                      (h1bvisa['salary_job'] > (mean_salary + outlier_threshold))).astype(int)

# Contando el nÃºmero de outliers
number_of_outliers = h1bvisa['outlier'].sum()

print(number_of_outliers)
print(h1bvisa[['salary_job', 'outlier']])

7
         salary_job  outlier
0           97406.0        0
1           84510.0        0
2           70678.0        0
3           81453.0        0
4           91146.0        0
...             ...      ...
1452384    108347.0        0
1452385     81890.0        0
1452386     81203.2        0
1452387    124030.0        0
1452388    109283.0        0

[1238180 rows x 2 columns]

In [14]:
h1bvisa = h1bvisa.merge(jobtitle[['job_id', 'job_title']], left_on='JOB_TITLE', right_on='job_title', how='left')

num_registros = len(h1bvisa)
print (num_registros)

h1bvisa = h1bvisa.merge(state_save[['state_id', 'state_abr']], left_on='WORKSITE_STATE', right_on='state_abr', how='left')

num_registros = len(h1bvisa)
print (num_registros)

h1bvisa = h1bvisa.merge(
    employer[['employer_id', 'employer_name', 'naics_code_3d']],
    left_on=['EMPLOYER_NAME', 'naics_code_3d'],  
    right_on=['employer_name', 'naics_code_3d'],
    how='left'
)

num_registros = len(h1bvisa)
print (num_registros)

h1bvisa = h1bvisa.merge(
    city[['city_id', 'city', 'state_abr']],
    left_on=['WORKSITE_CITY', 'WORKSITE_STATE'],  
    right_on=['city', 'state_abr'],
    how='left'
)

num_registros = len(h1bvisa)
print (num_registros)

h1bvisa = h1bvisa.merge(soc_title[['soc_code', 'soc_title']], left_on='SOC_CODE', right_on='soc_code', how='left')

h1bvisa.drop(['SOC_CODE'], axis=1, inplace=True)

num_registros = len(h1bvisa)
print (num_registros)

h1bvisa.head(15)

1238180
1238180
1238180
1238180
1238180
1238180
1238180
1238180

,visa_case_id,CASE_NUMBER,CASE_STATUS,VISA_CLASS,FULL_TIME_POSITION,RECEIVED_DATE,DECISION_DATE,BEGIN_DATE,END_DATE,TOTAL_WORKER_POSITIONS,...,job_title,state_id,state_abr_x,employer_id,employer_name,city_id,city,state_abr_y,soc_code,soc_title
0,10000001,I-200-20268-843329,Certified,H-1B,Y,9/24/2020,10/1/2020,2/13/2021,2/12/2024,1,...,SENIOR TECHNICAL ARCHITECT,101.0,VA,100001,HEXAWARE TECHNOLOGIES INC,10001,HERNDON,VA,151132,SOFTWARE DEVELOPERS APPLICATIONS
1,10000002,I-200-20268-843033,Certified,H-1B,Y,9/24/2020,10/1/2020,9/24/2020,9/23/2023,1,...,PROGRAMMER ANALYST,102.0,TX,100002,WIPRO LIMITED,10002,TEXAS CITY,TX,151131,COMPUTER PROGRAMMERS
2,10000003,I-200-20268-843527,Certified,H-1B,Y,9/24/2020,10/1/2020,9/25/2020,9/24/2023,6,...,SOFTWARE DEVELOPER,103.0,OH,100003,MASTECH DIGITAL INFOTECH INC,10003,STRONGSVILLE,OH,151132,SOFTWARE DEVELOPERS APPLICATIONS
3,10000004,I-200-20268-844241,Certified,H-1B,Y,9/24/2020,10/1/2020,10/1/2020,9/30/2023,1,...,JAVA ANALYST 2,104.0,CT,100004,VIRTUSA CORPORATION,10004,HARTFORD,CT,151121,COMPUTER SYSTEMS ANALYSTS
4,10000005,I-200-20268-844003,Certified,H-1B,Y,9/24/2020,10/1/2020,10/5/2020,6/29/2022,1,...,SQL DATABASE ADMINISTRATOR II,102.0,TX,100005,XTGLOBAL INC,10005,AUSTIN,TX,151141,DATABASE ADMINISTRATORS
5,10000006,I-200-20268-843012,Certified,H-1B,Y,9/24/2020,10/1/2020,2/13/2021,2/12/2024,1,...,COMPUTER PROGRAMMER,101.0,VA,100001,HEXAWARE TECHNOLOGIES INC,10006,RESTON,VA,151131,COMPUTER PROGRAMMERS
6,10000007,I-200-20268-844434,Certified,H-1B,Y,9/24/2020,10/1/2020,3/26/2021,3/25/2024,1,...,OPERATIONS MANAGER TECHNICAL,105.0,GA,100006,SUN CLOUD LLC,10007,ALPHARETTA,GA,151199,INFORMATION TECHNOLOGY PROJECT MANAGERS
7,10000008,I-200-20268-844860,Certified,H-1B,Y,9/24/2020,10/1/2020,3/25/2021,3/24/2024,1,...,SOFTWARE ENGINEER,106.0,CA,100007,FACEBOOK INC,10008,MENLO PARK,CA,151132,SOFTWARE DEVELOPERS APPLICATIONS
8,10000009,I-200-20268-843099,Certified,H-1B,Y,9/24/2020,10/1/2020,1/31/2021,1/30/2024,1,...,SYSTEM ANALYST JC65,107.0,AZ,100008,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,10009,SCOTTSDALE,AZ,151121,COMPUTER SYSTEMS ANALYSTS
9,10000010,I-200-20268-843223,Certified,H-1B,Y,9/24/2020,10/1/2020,10/5/2020,10/2/2023,1,...,TECHNOLOGY ANALYST US,106.0,CA,100009,INFOSYS LIMITED,10010,WALNUT CREEK,CA,151199,INFORMATION TECHNOLOGY PROJECT MANAGERS
10,10000011,I-200-20268-844654,Certified,H-1B,Y,9/24/2020,10/1/2020,10/5/2020,10/4/2023,1,...,SOFTWARE ENGINEER 3,106.0,CA,100010,EBAY INC,10011,SAN FRANCISCO,CA,151132,SOFTWARE DEVELOPERS APPLICATIONS
11,10000012,I-200-20268-843108,Certified,H-1B,Y,9/24/2020,10/1/2020,10/2/2020,10/1/2023,1,...,MANAGER JC50,108.0,MI,100008,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,10012,AUBURN HILLS,MI,151121,COMPUTER SYSTEMS ANALYSTS
12,10000013,I-200-20268-843173,Certified,H-1B,Y,9/24/2020,10/1/2020,10/1/2020,9/30/2023,1,...,APPLICATIONS CONSULTANT 3,108.0,MI,100011,CAPGEMINI AMERICA INC,10013,NORTHVILLE,MI,151132,SOFTWARE DEVELOPERS APPLICATIONS
13,10000014,I-200-20268-843362,Certified,H-1B,Y,9/24/2020,10/1/2020,10/1/2020,10/1/2023,1,...,SPLUNK DEVELOPER,109.0,MD,100012,VIZPLUM CORPORATION,10014,WOODLAWN,MD,151132,SOFTWARE DEVELOPERS APPLICATIONS
14,10000015,I-200-20268-843307,Certified,H-1B,Y,9/24/2020,10/1/2020,3/16/2021,3/15/2024,1,...,COMPUTER PROGRAMMER,101.0,VA,100001,HEXAWARE TECHNOLOGIES INC,10015,MCLEAN,VA,151131,COMPUTER PROGRAMMERS

In [15]:
h1bvisa.rename(columns={'CASE_NUMBER' : 'case_number', 'CASE_STATUS': 'case_status', 'VISA_CLASS' : 'visa_class',
                        'FULL_TIME_POSITION':'full_time_position', 'RECEIVED_DATE': 'received_date', 
                        'DECISION_DATE' : 'decision_date', 'BEGIN_DATE' : 'begin_date', 'END_DATE' : 'end_date',
                        'TOTAL_WORKER_POSITIONS': 'total_worker_positions', 'AMENDED_PETITION' : 'amended_petition',
                        'WAGE_RATE_OF_PAY_FROM': 'starting_salary', 'PREVAILING_WAGE': 'salary_job', 
                        'PW_UNIT_OF_PAY' : 'salary_job_unit', 
                        'AGENT_REPRESENTING_EMPLOYER': 'lawyer'}, inplace=True)

# Assuming df is your dataframe
column_names = h1bvisa.columns.tolist()

# Print all column names
print(column_names)

['visa_case_id', 'case_number', 'case_status', 'visa_class', 'full_time_position', 'received_date', 'decision_date', 'begin_date', 'end_date', 'total_worker_positions', 'amended_petition', 'starting_salary', 'salary_job', 'salary_job_unit', 'EMPLOYER_NAME', 'JOB_TITLE', 'WORKSITE_CITY', 'WORKSITE_STATE', 'lawyer', 'naics_code_3d', 'job_id', 'job_title', 'state_id', 'state_abr_x', 'employer_id', 'employer_name', 'city_id', 'city', 'state_abr_y', 'soc_code', 'soc_title']

In [16]:
h1bvisa.drop(['EMPLOYER_NAME','JOB_TITLE','WORKSITE_CITY','WORKSITE_STATE','job_title','state_abr_x',
             'employer_name','city','state_abr_y','soc_title'], axis=1, inplace=True)

In [17]:
#state_save['state_abr'] = state_save['state_abr'].astype(str)
city_save=city
city_save.drop('state_abr', axis=1, inplace=True)
h1bvisa.drop('state_id', axis=1, inplace=True)

h1bvisa['received_date'] = pd.to_datetime(h1bvisa['received_date'])
h1bvisa['decision_date'] = pd.to_datetime(h1bvisa['decision_date'])
h1bvisa['begin_date'] = pd.to_datetime(h1bvisa['begin_date'])
h1bvisa['end_date'] = pd.to_datetime(h1bvisa['end_date'])

h1bvisa = h1bvisa.dropna(subset=['naics_code_3d'])
h1bvisa = h1bvisa.dropna(subset=['job_id'])
h1bvisa = h1bvisa.dropna(subset=['employer_id'])
h1bvisa = h1bvisa.dropna(subset=['city_id'])
h1bvisa = h1bvisa.dropna(subset=['starting_salary'])
h1bvisa = h1bvisa.dropna(subset=['salary_job'])
h1bvisa = h1bvisa.dropna(subset=['salary_job_unit'])

h1bvisa['naics_code_3d'] = h1bvisa['naics_code_3d'].astype(int)
h1bvisa['job_id'] = h1bvisa['job_id'].astype(int)
h1bvisa['employer_id'] = h1bvisa['employer_id'].astype(int)
h1bvisa['city_id'] = h1bvisa['city_id'].astype(int)

print (len(h1bvisa))

1238179

In [21]:
checktable=state_save

#checktable=jobtitle

#csv_file_path = 'C:/Users/andre/OneDrive/Documentos/Boston/Hult/Data Management & SQL/Data/PairTrio/naics_code.csv'
#naics_codes = pd.read_csv(csv_file_path)
#checktable=naics_codes

#checktable=soc_title

#checktable=city_save

#checktable=employer

#checktable=h1bvisa

# This will return a boolean DataFrame where True indicates a null value
null_values = checktable.isnull()

# To get a summary count of null values for each column
null_counts = checktable.isnull().sum()

# To display the columns with null values
columns_with_null = null_counts[null_counts > 0]

column_types = checktable.dtypes

# Assuming df is your dataframe
column_names = checktable.columns.tolist()

# Print all column names
print(column_names)
print (columns_with_null)
print (column_types)

['state_abr', 'state_name', 'med_income', 'med_income_after_tax', 'avg_living_cost', 'layoffs_k', 'hire_k', 'job_opening_k', 'quality_index', 'state_id']
Series([], dtype: int64)
state_abr                object
state_name               object
med_income                int64
med_income_after_tax      int64
avg_living_cost           int64
layoffs_k                 int64
hire_k                    int64
job_opening_k             int64
quality_index           float64
state_id                  int64
dtype: object

In [ ]:
#h1bvisa['state_id'] = h1bvisa['state_id'].astype(int)

#subtable_with_nan = h1bvisa.drop[h1bvisa['soc_code'].isna()]
#subtable_with_nan.head()

#subtable_with_nan = h1bvisa[h1bvisa['soc_code'].isna()]
#subtable_with_nan.head()

#print (len(subtable_with_nan))

In [26]:
import pandas as pd
from sqlalchemy import create_engine

# Define database connection parameters
server_name = 'server123sql.mysql.database.azure.com'
database_name = 'hib_assignment'
username = 'andrea'
password = '***'

# Establish a connection to the MySQL Server using SQLAlchemy
engine = create_engine(f"mysql+pymysql://{username}:{password}@{server_name}/{database_name}")

# Define the table name in the database
table_name = 'state'
state_save.to_sql(table_name, engine, index=False, if_exists='replace')

table_name = 'cities'
city_save.to_sql(table_name, engine, index=False, if_exists='replace')

csv_file_path = 'C:/Users/andre/OneDrive/Documentos/Boston/Hult/Data Management & SQL/Data/PairTrio/naics_code.csv'
naics_codes = pd.read_csv(csv_file_path)

table_name = 'naics_codes'
naics_codes.to_sql(table_name, engine, index=False, if_exists='replace')

table_name = 'soc_codes'
soc_title.to_sql(table_name, engine, index=False, if_exists='replace')

table_name = 'employer'
employer.to_sql(table_name, engine, index=False, if_exists='replace')

table_name = 'jobs'
jobtitle.to_sql(table_name, engine, index=False, if_exists='replace')

table_name = 'visa_cases'
h1bvisa.to_sql(table_name, engine, index=False, if_exists='replace')

1238179

In [25]:
engine.dispose()

In [27]:
city_save.to_csv(
    r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\city_save.csv',
    index=False,
    encoding='utf-8'
)

state_save.to_csv(
   r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\state_save.csv',
   index=False,
   encoding='utf-8'
)

In [ ]:
city_save.to_csv(
    r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\city.csv',
    index=False,
    encoding='utf-8'
)


employer.to_csv(
    r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\employer.csv',
    index=False,
    encoding='utf-8'
)

jobtitle.to_csv(
    r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\jobtitle.csv',
    index=False,
    encoding='utf-8'
)

state_save.to_csv(
   r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\state.csv',
   index=False,
   encoding='utf-8'
)

soc_title.to_csv(
    r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\soc_title.csv',
    index=False,
    encoding='utf-8'
)

h1bvisa.to_csv(
    r'C:\Users\andre\OneDrive\Documentos\Boston\Hult\Data Management & SQL\Data\PairTrio\h1bvisa.csv',
    index=False,
    encoding='utf-8'
)

In [ ]:
# Now let's output the head of each table to verify
naics.head(), employer.head(), h1bvisa.head(), city.head(), state.head(), jobtitle.head()